/*Overall*/
html{
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}
.container{
  display: flex;
  max-width: 960px;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*Header section*/
header{
  background-color: cadetblue;
  position: relative;
  top: 1rem;
  z-index: 10;
  color: white;
}
header .container{
  height: 3rem;
}
.company-header{
  display: flex;
  align-items: center;
}
header img{
  margin-left: 2rem;
  margin-right: 1rem;
  max-height: 1.5rem;
}
li{
  margin-right: 2rem;
}

/*Banner section*/
.banner{
  background-image: url(../images/glasses-bg.png);
  height: 30rem;
  background-position: center;
  background-size: cover;
  position: relative;
  top: -4rem;
  z-index: 5;
}
.banner .container{
  position: relative;
  top: 17rem;
  justify-content: flex-end;
}
.headline{
  background-color: white;
  position: relative;
  left: 2rem;
}
h1{
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}
/*Main content section*/
.main.container{
  position: relative;
  top: -4rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  justify-content: center;
}
/*Product features section*/
.features{
  display: flex;
}
.feature{
  max-height: 8rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.feature img{
  max-width: 5rem;
  max-height: auto;
}
.feature span{
  display: block;
}

/*Company info section*/
.info-section{
  margin: auto;
}
/*Footer section*/
.footer.container{
  position: relative;
  top: -4rem;
}




black borders
div, header, .footer, nav, .container, .features, .feature {
  border: solid black 1px;
}
